.bg{
    background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/cW5lDBG/videoblocks-social-media-messaging-on-a-dark-blue-background-sms-e-mail-chat-messaging-concept_hc-ibs9vb_thumbnail-1080_01.png");
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100vw; 
}